<form action="/admin" method="post">
  Enter login: <br>
  <input class="form-control"type=text name="login"><br>
  Enter password: <br>
  <input class="form-control" type=password name="password"><br><br>
  <input type="submit" class="btn" >
</form>